body{
    font-family: 'Courier New', Courier, monospace;
}
.section_one{
    padding:0;
    margin:0;
    position: relative;
    bottom: 7px;
}
.section_one a {
    float:right;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}
.section_one i{
    color: green;
    padding: 0 10px 0 0;
}
#register{
    padding:15px 0 0 20px;
}
#login{
    padding:15px 20px 0 0;
}
#register:hover{
    text-decoration:underline;
}
#login:hover{
    text-decoration:underline;
}
.slach {
    float:right;
    text-decoration: none;
    position: relative;
    top: 15px;
}
#gmail{
float:left;
position:relative;
left:10px;
}
#tel{
float:left;
border-left: 1px solid #e6e0e0;
position:relative;
left:10px;
}
.nav_one {
    overflow: hidden;
} 
.nav_one a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  .nav_one .search-container {
    float: right;
    background-color:#f1eeee ;
    padding: 0 0 0 30px;
    position:relative;
    right:26px;
}
.nav_one input[type=text] {
    padding: 11px 11px 0 11px;
    margin-top: 6px;
    font-size: 17px;
    border: none;
    width:250px;
    background-color:#f1eeee ;
    outline: none; 
    margin-bottom: 0;
}
.section_one .nav_one .search-container button {
    float: right;
    padding: 18px 10px 10px 15px;
    margin-top: 0;
    margin-right: 0;
    background: #19c880;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.nav_one .search-container button:hover {
    border:none;
}
.search-container i{
    color:white
}
/********************************************************************************/
.image-container {
    position: relative;
    text-align: center;
    color: white;
    bottom:10px;
}
.background-image {
    width: 100%;
    height: auto;
    filter: brightness(50%); /* تعتيم الصورة */
}
.nav_three {
    position: absolute;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 20px 0;
    background-color: rgba(187, 182, 182, 0.5);
    overflow: hidden;
    color: white;
    opacity: 0.5;
}

.nav_three a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 25px 0 0 20px;
    color: white;
}
.nav_three a:hover{
    color:green;
}
.moveone{
    padding:0 170px 0 0;
}
#clipboard:hover{
    color:white;
}
#ezuca{
    float:left;
    margin-left: 180px;
}
#ezuca span{
    color:green;
}
#ezuca:hover{
    color:white;
}
.overlay-text {
    position: absolute;
    top: 30%;
    left: 14%;
    font-size: 24px;
    color: white;
    text-align: left;
}
.overlay-text .p1{
    color:#19c880;
}
.overlay-text .p2{
    font-size: 13px;
}
.moveone{
    padding:0 170px 0 0;
}
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
}
.button1 {
    background-color: transparent; /* خلفية شفافة */
    color: white; 
    border: 2px solid #04AA6D;
    padding: 16px 32px; 
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
}
.button1:hover {
    /*background-color: #04AA6D;
    color: white;*/
    background-color: #04AA6D; 
    border: 2px solid #04AA6D;
}
.card1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.card1 .d1 .d2{
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}